
#####################
## JMP
#####################
.settings/
dev/
prog/
tools/
.classpath
.gitignore
.gitattributes
.project
avatar.psd
build.properties
build.xml
JuggleMasterPro.log


#####################
## Windows detritus
#####################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.Trash
